alembic
azure-common
pyopenssl
azure-storage-blob==2.1.0
certifi
cffi
chardet
Click
cryptography
Flask
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
Mako
MarkupSafe
msal
pip
pycparser
pyodbc
python-dateutil
python-editor
requests
setuptools
six
SQLAlchemy
urllib3
Werkzeug==2.2.2
WTForms
